body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:855px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:580px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:855px;
  height:580px;
}
#u115 {
  position:absolute;
  left:4px;
  top:282px;
  width:849px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:29px;
  top:349px;
  width:106px;
  height:41px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u117 {
  position:absolute;
  left:21px;
  top:405px;
  width:124px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
