body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:666px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:928px;
  height:666px;
}
#u54 {
  position:absolute;
  left:4px;
  top:325px;
  width:922px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:25px;
  top:410px;
  width:108px;
  height:41px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:41px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:18px;
  top:467px;
  width:124px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:20px;
  top:100px;
  width:103px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
