body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:875px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:723px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:723px;
}
#u22 {
  position:absolute;
  left:4px;
  top:354px;
  width:869px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:72px;
  top:352px;
  width:105px;
  height:40px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:64px;
  top:406px;
  width:124px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:59px;
  top:97px;
  width:90px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
