body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:836px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:580px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:580px;
}
#u128 {
  position:absolute;
  left:4px;
  top:282px;
  width:830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:25px;
  top:321px;
  width:108px;
  height:41px;
}
#u129_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:41px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u130 {
  position:absolute;
  left:20px;
  top:377px;
  width:124px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u131 {
  position:absolute;
  left:550px;
  top:197px;
  width:243px;
  height:36px;
}
#u132 {
  position:absolute;
  left:4px;
  top:10px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u133 {
  position:absolute;
  left:558px;
  top:204px;
  width:48px;
  height:22px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
