body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:836px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:580px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:580px;
}
#u111 {
  position:absolute;
  left:4px;
  top:282px;
  width:830px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:25px;
  top:321px;
  width:108px;
  height:41px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:41px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u113 {
  position:absolute;
  left:20px;
  top:377px;
  width:124px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
