body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:944px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:657px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:657px;
}
#u59 {
  position:absolute;
  left:4px;
  top:320px;
  width:938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:35px;
  top:409px;
  width:106px;
  height:41px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u61 {
  position:absolute;
  left:25px;
  top:465px;
  width:124px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
