body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:944px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:657px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:657px;
}
#u83 {
  position:absolute;
  left:4px;
  top:320px;
  width:938px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:35px;
  top:409px;
  width:106px;
  height:41px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u85 {
  position:absolute;
  left:25px;
  top:465px;
  width:124px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:62px;
  top:249px;
  width:300px;
  height:36px;
}
#u87 {
  position:absolute;
  left:4px;
  top:10px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u88 {
  position:absolute;
  left:70px;
  top:256px;
  width:48px;
  height:22px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
